{% extends "base.html" %}
{% block title %}
<title>Maternity Leave Policy | Intra.Headrun.Com</title>
{% endblock %}

{% block middlecontent %}
    <div id="page-wrapper">
        <h3>Policies</h3>
        <ol>
	    <li><a href='/policy/reimbursements'>Reimbursements</li>
	    <li><a href='/policy/leave_and_lop'>Leave and Lop</li>
	    <li><a href='/policy/reference_for_job'>References for job at Headrun</li>
	    <li><a href='/policy/maternityleave'>Maternity Leave</li>
	    <li><a href='/policy/adoptionleave'>Adoption Leave</li>
	</ol>
    </div>
{% endblock %}

