{% extends "base.html" %}
{% block title %}
<title>Policies | Intra.Headrun.Com</title>
{% endblock %}

{% block middlecontent %}
    <div id="page-wrapper">
        <h3>Policies</h3>
	<div class="panel-group policies" id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingOne">
	      <h4 class="panel-title">
		<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		Adoption Leave Policy
		</a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
	      <div class="panel-body">
		<ol>
                    <li><b>Effective:</b></li>
                    <ol>
		      <li>The Policy will be in force with effect from 1st December 2015.</p>
		    </ol>
		    <li><b>Applicability:</b></li>
		    <ol>
		        <li>The female employees (Regular, Probationers and Trainees) of the organization.</li>
                        <li>Eligibility</label>
                        <ul>
			    <li>All female employees on employment with the company are eligible for Maternity Leave.</li>
			    <li>The maximum period for which any employee be entitled to maternity benefit shall be twelve weeks.</li>
			</ul>
		        <li>Regulations</li>
			<ul>
			    <li>The applicant should inform about her adoption leave to the HR department minimum 2 months in advance before proceeding on leave.</li>
			    <li>The application should be supported by a adoption certificate issued by the relevant government authorities.</li>
			    <li>Adoption leave may be combined with Earned leave with <b>prior approval.</b></li>
			    <li><b>The maximum leave benefit will be 8 weeks (2 months).</b></li>
			    <li>An additional <b>4 weeks</b> of Work from Home can be availed.</li>
			    <li>Intervening National / declared / festival / weekly off days will be counted as part of leave.</li>
			    <li>A female employee can adjust this leave before and after the delivery of child totaling it to 8 weeks.</li>
			</ul>
		    </ol>
		    <li><b>Pay Benefit:</b></li>
		      <ol>
		          <li>The employee will be paid salary for the period stipulated in clauses 2.3 (Regulations).</li>
		          <li>The pay benefit for "Earned Leaves", if availed in continuation with Adoption Leave shall be as per the "Leave Policy" in force.</li>
		      </ol>
		    <li><b>Procedures & General Rules:</b></li>
		    <ol>
		      <li>The leave application for availing "Earned Leave" accrued by the employee shall be produced minimum 2 weeks in advance.</li>
		      <li>In normal circumstances, the employee should resume her duties post adoption benefit stipulated above; failing which the leave period will be treated as unauthorized leave. Consequtly, disciplinary action will be initiated and no salary will be paid for these days.</li>
		      <li>Leave deductions (Leave without pay and Notice Period) shall be calculated at the rate of </b>gross payroll salary.</b></li>
		    </ol>
		    <li><b>Resignations post Adoption Benefit.</b></li>
		    <ol>
		      <li>If an employee wishes to exercise her option to resign her employment immediately after availing the leave with salary benefit under "Adoption" will be stated in the relieving letter as per the reasons mentioned.</li>
		    </ol>
                </ol>
		<label>NOTE:</label>
		<p>The onus of timely submission of approved leave application forms to the HR department lies completely on the person and while processing the payroll no prior intimation will be sent to the defaulting individuals.Information regarding number of paid days will be mentioned in the pay slip of the month.</p>
	      </div>
	    </div>
	  </div>
	</div>
    </div>
{% endblock %}

